<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-icon class="mdi mdi-soccer"></ion-icon>La Canchita
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <div class="logo-image">
      <img src="assets/imgs/logo-la-canchita.png">
    </div>
    <br>
  </ion-row>

  <!-- <ion-list>
    <ion-item *ngIf="operation === 'register'">
      <ion-label floating>Tipo de Usuario</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="player">Jugador</ion-option>
        <ion-option value="admin">Administrador</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="operation === 'register'">
        <ion-label floating>Nombre</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
    <ion-item *ngIf="operation === 'register'">
      <ion-label floating>Telefono</ion-label>
      <ion-input [(ngModel)]="phone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Correo</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="operation === 'register'">
      <ion-label floating>Repetir Contraseña</ion-label>
      <ion-input [(ngModel)]="password2" type="password"></ion-input>
    </ion-item>
  </ion-list> -->

  <div padding>
    <hr>
    <button class="google" *ngIf="operation === 'login'" ion-button block round (click)="googleLogin()">
      <ion-icon class="mdi mdi-google-plus-box"></ion-icon> Ingresar con Google
    </button>

    <button class="facebook" *ngIf="operation === 'login'" ion-button block round (click)="facebookLogin()">
      <ion-icon class="mdi mdi-facebook-box"></ion-icon> Ingresar con Facebook
    </button>

    <button color="secondary" *ngIf="operation === 'register'" ion-button block round (click)="registerWithEmail()">Registrarse</button>
    <hr>
    <button color="danger" *ngIf="operation === 'register'" ion-button block round (click)="operation = 'login'">Cancelar</button>
    <br>
  </div>
</ion-content>