page-login {
.logo-image{
    width: 80%;
    margin: auto;
}
.google{
    background-color: #DD4B39 !important;
    margin: 10px;
}
.facebook{
    background-color: #3b5998 !important;
    margin: 10px;
}
}
