<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="mdi mdi-soccer"></ion-icon> La Canchita
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let complex of complexes; let i=index">
    <img-loader (click)="goToDetailComplex(complex.userId, complex.id)" src="{{getAllComplexImages(complex)[0].imageUrl}}"
      useImg></img-loader>
    <ion-card-content>
      <ion-row>
        <ion-col col-4 class="icons">
          <div *ngFor="let option of complex.options">
            <ion-icon float-start class="mdi mdi-{{option}}"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-8>
          <p class="card-title">{{complex.name | titlecase}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>