<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="mdi mdi-soccer"></ion-icon> La Canchita
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="complexes">Complejos Deportivos</ion-segment-button>
    <ion-segment-button (click)="badgeCounter = 0" value="reservations">Mis Reservaciones
      <ion-badge *ngIf="badgeCounter > 0" color="secondary">{{badgeCounter}}</ion-badge>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <div *ngIf="segment == 'complexes'">

    <ion-row *ngIf="showFilter == true">
      <ion-col>

        <ion-item>
          <ion-label fixed>
            <ion-icon class="mdi mdi-flag-checkered"></ion-icon> Pais
          </ion-label>
          <ion-select [(ngModel)]="selectedCountry">
            <ion-option *ngFor="let country of countries">{{country}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label fixed>
            <ion-icon class="mdi mdi-city-variant"></ion-icon> Ciudad
          </ion-label>
          <ion-select (ionChange)="filter()" [(ngModel)]="selectedCity">
            <div *ngFor="let city of cities">
              <ion-option *ngIf="city.country == selectedCountry">{{city.city}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let complex of complexes">
      <img (click)="goToDetailComplex(complex.id)" src="{{getAllComplexImages(complex)[0].imageUrl}}">
      <ion-card-content (click)="goToDetailComplex(complex.id)">
        <ion-row>
          <ion-col col-4 class="icons">
            <div *ngFor="let option of complex.options"> 
              <ion-icon float-start class="mdi mdi-{{option}}"></ion-icon>
            </div>
          </ion-col>
          <ion-col col-8>
            <p class="card-title">{{complex.name | titlecase}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="segment == 'reservations'">
    <ion-list>
      <ion-item>
        <ion-label block>Ingrese Fecha</ion-label>
        <ion-datetime (ionChange)="getUserReservations()" displayFormat="DD MMM" pickerFormat="D MMM" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-item>
      <ion-item-sliding *ngFor="let reservation of userReservations">

        <ion-item>
          <ion-icon class="mdi" [ngClass]="{'mdi-help-circle': reservation.status == 'requested', 
                                'mdi-checkbox-marked-circle': reservation.status == 'confirmed',
                                'mdi-cancel': reservation.status == 'player-canceled',
                                'mdi-close-circle': reservation.status == 'admin-canceled'}"
            item-start></ion-icon>
          <h2 text-wrap><b>{{reservation.complex.name}}</b></h2>
          <h5>{{reservation.fieldName}}</h5>
          <p text-wrap>{{dateStr(reservation)}}</p>
          <small>{{createdStr(reservation.createdAt)}}</small>
          <ion-icon class="mdi mdi-menu-left" item-end></ion-icon>
        </ion-item>

        <ion-item-options side="right">
          <button (click)="actionReservation(reservation.id, 'player-canceled')" *ngIf="reservation.status !== 'admin-canceled'"
            ion-button color="danger">
            <ion-icon class="mdi mdi-close-box"></ion-icon>
            Cancelar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab right top *ngIf="segment == 'complexes' && showFilter == false">
    <button (click)="toggleFilter()" color="primary" ion-fab mini>
      <ion-icon class="mdi mdi-filter-variant"></ion-icon>
    </button>
  </ion-fab>

</ion-content>