page-home {
    .inline{
        display: flex;
        flex-flow: row;
    }
     .card-title{
        padding-top: 2px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        }
    .icons {
        font-size: 120%;
    }
}
