<!--
  Generated template for the NewComplexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Complejo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-slides pager slidesPerView="1">
      <ion-slide *ngFor="let img of complexImages">
        <img src="{{img.imageUrl}}" class="thumb-img" imageViewer />
      </ion-slide>
    </ion-slides>
  </ion-row>
  <ion-row class="inline">
    <ion-col col-12 offset-8>
      <button ion-button (click)="uploadImage('camera')">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button (click)="uploadImage('images')">
        <ion-icon name="images"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list class="form-view">
    <ion-item>
      <ion-label floating>
        <ion-icon name="contact"></ion-icon> Nombre del Complejo
      </ion-label>
      <ion-input [(ngModel)]="complex.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="pin"></ion-icon> Direccion
      </ion-label>
      <ion-input [(ngModel)]="complex.address" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="flag"></ion-icon> Pais
      </ion-label>
      <ion-select [(ngModel)]="complex.country">
        <ion-option *ngFor="let country of countries">{{country}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="map"></ion-icon> Ciudad
      </ion-label>
      <ion-select [(ngModel)]="complex.city">
        <div *ngFor="let city of cities">
          <ion-option *ngIf="city.country == complex.country">{{city.city}}</ion-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="call"></ion-icon> Telefono
      </ion-label>
      <ion-input [(ngModel)]="complex.phone" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="mail"></ion-icon> Email
      </ion-label>
      <ion-input [(ngModel)]="complex.email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="globe"></ion-icon> Web
      </ion-label>
      <ion-input [(ngModel)]="complex.web" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="options"></ion-icon> Caracteristicas
      </ion-label>
      <ion-select [(ngModel)]="complex.options" multiple="true">
        <ion-option value="wifi">Wifi Disponible</ion-option>
        <ion-option value="smoking-off">Prohibido Fumar</ion-option>
        <ion-option value="car">Parqueo Disponible</ion-option>
        <ion-option value="beer">Bebidas Alcoholicas</ion-option>
        <ion-option value="food">Cafeteria</ion-option>
        <ion-option value="shower">Ducha Disponible</ion-option>
      </ion-select>
    </ion-item>
    <p class="p-text">Lunes A Jueves</p>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>
            <ion-icon name="time"></ion-icon> Apertura
          </ion-label>
          <ion-datetime [(ngModel)]="complex.weekEndOpenAt" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>
            <ion-icon name="time"></ion-icon> Cierre
          </ion-label>
          <ion-datetime [(ngModel)]="complex.weekEndCloseAt" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <p class="p-text">Viernes a Domingo</p>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>
            <ion-icon name="time"></ion-icon> Apertura
          </ion-label>
          <ion-datetime [(ngModel)]="complex.weekOpenAt" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>
            <ion-icon name="time"></ion-icon> Cierre
          </ion-label>
          <ion-datetime [(ngModel)]="complex.weekCloseAt" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-list>

  <div class="save-buttons">
    <hr>
    <ion-row>
      <ion-col>
        <button ion-button block round (click)="saveComplex()" color="secondary">Guardar</button>
      </ion-col>
      <ion-col>
        <button ion-button block round (click)="deleteComplex()" color="danger">Cancelar</button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>