<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css">

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngIf="currentUser">
          <ion-item>
            <ion-avatar item-start>
                <img class="user-avatar" src="{{currentUser.avatar || '../../assets/imgs/user.png'}}">
            </ion-avatar>
              <h1><b>{{currentUser.name}}</b></h1>
              <p>{{currentUser.email}}</p>
            </ion-item>
      </div>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logout()">LogOut</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>