<!--
  Generated template for the AdminHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="mdi mdi-soccer"></ion-icon> La Canchita
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="complexes">Mis Complejos</ion-segment-button>
    <ion-segment-button value="reservations">Reservaciones</ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content padding>
  <div *ngIf="segment === 'complexes'">
    <ion-card *ngFor="let complex of userComplexes; let i=index">

      <img (click)="goToDetailComplex(complex.id)" src="{{getAllComplexImages(complex)[0].imageUrl}}">

      <ion-card-content (click)="goToDetailComplex(complex.id)">
        <ion-row>
          <ion-col col-4 class="icons">
            <div *ngFor="let option of complex.options">
              <ion-icon float-start class="mdi mdi-{{option}}"></ion-icon>
            </div>
          </ion-col>
          <ion-col col-8>
            <p (press)="presentActionSheet(complex.id)" class="card-title">{{complex.name | titlecase}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="segment == 'reservations'">
    <ion-list>
      <ion-item-sliding (press)="presentReservationSheet(reservation)" *ngFor="let reservation of userReservations">

        <ion-item>
          <ion-icon class="mdi" [ngClass]="{'mdi-help-circle': reservation.status == 'requested', 
              'mdi-checkbox-marked-circle': reservation.status == 'confirmed',
              'mdi-cancel': reservation.status == 'player-canceled',
              'mdi-close-circle': reservation.status == 'admin-canceled'}"
            item-start></ion-icon>
          <h2 text-wrap><b>{{reservation.complexName}}</b></h2>
          <h5>{{reservation.fieldName}}</h5>
          <p text-wrap>{{dateStr(reservation)}}</p>
          <small>
            <ion-icon [ngClass]="{'mdi-alert': checkUser(reservation.player.uid) == true,
                                  'mdi-verified': checkUser(reservation.player.uid) == false}"
              class="mdi"></ion-icon>
            {{reservation.player.name}} {{createdStr(reservation.createdAt)}}
          </small>
          <ion-icon class="mdi mdi-menu-left" item-end></ion-icon>
        </ion-item>

        <ion-item-options side="right">
          <button (click)="actionReservation(reservation.id, 'confirmed')" *ngIf="reservation.status == 'requested'"
            ion-button color="secondary">
            <ion-icon class="mdi mdi-check-circle"></ion-icon>
            Confirmar
          </button>
          <button (click)="actionReservation(reservation.id, 'admin-canceled')" *ngIf="reservation.status !== 'player-canceled'"
            ion-button color="danger">
            <ion-icon class="mdi mdi-delete-empty"></ion-icon>
            Cancelar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab right bottom *ngIf="segment != 'reservations'">
    <button color="danger" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button (click)="goToNew('field')" color="secondary" ion-fab>
        <ion-icon class="mdi mdi-soccer-field"></ion-icon>
      </button>
      <button (click)="goToNew('complex')" color="primary" ion-fab>
        <ion-icon class="mdi mdi-stadium"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>